<section>
  <form class="form" (submit) = "showCard()" [style.display] = "!cardDisplay ? 'flex' : 'none'">
    <p class="title">Register </p>
    <p class="message">Please fill this form!</p>
    <div class="flex">
      <label>
        <input class="input" type="text" placeholder="" required
                                                        [(ngModel)] = "firstName"
                                                        [ngModelOptions]="{standalone: true}">
        <span>{{placeholder1}}</span>
      </label>

      <label>
        <input class="input" type="text" placeholder="" required
                                                        [(ngModel)] = "lastName"
                                                        [ngModelOptions]="{standalone: true}">
        <span>{{placeholder2}}</span>
      </label>
    </div>

    <label>
      <input class="input" type="email" placeholder="" required
                                                        [(ngModel)] = "gmail"
                                                        [ngModelOptions]="{standalone: true}">
      <span>{{placeholder3}}</span>
    </label>
    <label>
      <input class="input" type="number" placeholder="" required
                                                        [(ngModel)] = "contact"
                                                        [ngModelOptions]="{standalone: true}">
      <span>{{placeholder4}}</span>
    </label>
    <label>
      <input class="input" type="password" placeholder="" required
                                                        [(ngModel)] = "password"
                                                        [ngModelOptions]="{standalone: true}">
      <span>{{placeholder5}}</span>
    </label>
    <button class="submit" type="submit">Submit</button>
  </form>

  <div class="card-client" [style.display]="cardDisplay ? 'block' : 'none'">
    <div class="user-picture">
        <svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
            <path d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"></path>
        </svg>
    </div>
    <p class="name-client"> Jhon Doe</p>
    <p class="name-client"> Jhon Doe</p>
    <p class="name-client"> Jhon Doe</p>
    <p class="name-client"> Jhon Doe</p>
    <p class="name-client"> Jhon Doe</p>
    <p class="name-client"> Jhon Doe</p>
</div>
</section>
