<header [style.background-color]="headerColor">
  <h1 [style.color]="headerTextColor">Weather App</h1>
  <button
  (click)="switchMode()"
    >Dark Mode</button>
</header>

<main [style.background-color]="backgroundColor">
  <div class="card">
    <div class="container">
      <div class="cloud front">
        <span class="left-front"></span>
        <span class="right-front"></span>
      </div>
      <span class="sun sunshine"></span>
      <span class="sun"></span>
      <div class="cloud back">
        <span class="left-back"></span>
        <span class="right-back"></span>
      </div>
    </div>

    <div class="card-header">
      <span>{{country}}, {{city}}</span>
      <span>{{date}}</span>
    </div>

    <span class="temp">{{temperature}}°</span>

    <div class="temp-scale">
      <span
      (click)="getTemperatureFahrenheit()"
      >{{nextFormat}}</span>
    </div>
  </div>
</main>
